# 2. DataFrame과 subset observation
2021-06-02
<li>영우 글로벌 러닝 판다스 보충강의 2</li>
<li>DataFrame과 subset observation</li>
<li><a href = https://www.youtube.com/watch?v=pTTG4a0uyUY>강의 유튜브 링크</a></li>

실습 : <br>
https://dataitgirls2.github.io/10minutes2pandas/<br><br>
코드 연습 : <br>
https://pandas.pydata.org/<br>
https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf<br>
<hr>

목적?
여러 유형읟 데이터를 공통의 포맷으로 정리

판다스
- 시리즈(1차원배열), 데이터프레임(2차원배열)
- 인덱스가 0부터 시작

## 실습

In [124]:
# import

import pandas as pd
import numpy as np
import seaborn as sns

In [9]:
df = pd.DataFrame({"a" : [4 ,5, 6], 
                   "b" : [7, 8, 9],
                   "c" : [10, 11, 12]},
                  index = [1, 2, 3])
print(df)
print(df[["a", "b"]])

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12
   a  b
1  4  7
2  5  8
3  6  9

In [13]:
# loc, iloc
print(df.iloc[2])
print(df.loc[2])
print(df.loc[:, "a"])

a     6
b     9
c    12
Name: 3, dtype: int64
a     5
b     8
c    11
Name: 2, dtype: int64
1    4
2    5
3    6
Name: a, dtype: int64

In [19]:
# Mulitiindex
# 인덱스를 여러개 생성

df = pd.DataFrame({"a" : [4 ,5, 6],
                   "b" : [7, 8, 9],
                   "c" : [10, 11, 12]},
                  index = pd.MultiIndex.from_tuples([('d',1),('d',2),('e',2)],
                                                    names=['n','v']))
print(df)

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

<hr>

## 실습 2
### 시리즈(Series)
열벡터

In [25]:
# 시리즈 생성
dict_data = {"a": 1, "b" : 2, "c" : 3}
print(dict_data)
print(type(dict_data))
print()

sr = pd.Series(dict_data)
print(sr)
print(type(sr))
print()

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>

a    1
b    2
c    3
dtype: int64
<class 'pandas.core.series.Series'>

In [28]:
# 시리즈 인덱스, 값
list_data = ["2019-01-02", 3.14, "ABC", 100, True]
sr = pd.Series(list_data)
print(sr)
print()

idx = sr.index
val = sr.values
print(idx)
print(val)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object

RangeIndex(start=0, stop=5, step=1)
['2019-01-02' 3.14 'ABC' 100 True]

In [33]:
# 인덱스로 값 추출
tup_data = ("영인", "2010-05-01", "여", True)
sr = pd.Series(tup_data, index = ["이름", "생년월일", "성별", "학생여부"])
print(sr)
print()

# 인덱스 1개 선택
print(sr[0])
print(sr["이름"])
print(sr.이름)
print()

# 인덱스 여러개 선택
print(sr[[1, 2]])
print([["생년월일", "성별"]])
print()

# 인덱스 슬라이싱
# 아래 두 코드의 결과가 다름
print(sr[1:2])
print("생년월일", "성별")

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

영인
영인
영인

생년월일    2010-05-01
성별               여
dtype: object
[['생년월일', '성별']]

생년월일    2010-05-01
dtype: object
생년월일 성별

<hr>

### 데이터프레임
R에서 유래<br>
2차원 행렬<br>
열벡터 + 행벡터<br>
레코드(record)

<hr>

## 실습 3 Subset_observation(Rows)

In [51]:
# 조건에 따라 출력
df = pd.DataFrame({"a" : [4, 5, 6], 
                 "b" : [7, 8, 9], 
                 "c" : [10, 11, 12]}, 
                index = pd.MultiIndex.from_tuples(
                    [("d", 1), ("d", 2), ("e", 2)], 
                    names = ["n", "v"]))
print(df)
print("\n\n")

print(df[df>7])
print()
print(df.b > 7)
print()
print(df[df.a > 5])

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12



      a    b   c
n v
d 1 NaN  NaN  10
  2 NaN  8.0  11
e 2 NaN  9.0  12

n  v
d  1    False
   2     True
e  2     True
Name: b, dtype: bool

     a  b   c
n v
e 2  6  9  12

In [60]:
# drop_duplicates()
# 중복 제거

df2 = pd.DataFrame(
    {"a" : [4, 5, 6, 6], 
     "b" : [7, 8, 9, 9], 
     "c" : [10, 11, 12, 12]}, 
     index = pd.MultiIndex.from_tuples(
         [("d", 1), ("d", 2), ("e", 3), ("e", 3)], 
         names = ["n", "v"]))
print(df2)
print("\n\n")

print(df2.drop_duplicates())
print(df2)
print("\n\n")

# df2.drop_duplicates(inplace = True)
print(df2)
# 파이썬에서 inplace 사용을 권장하지 않음
# 오버라이트 할 것
df2 = df2.drop_duplicates()
print()

# 중복되는 행 중 마지막 행 사용하겠다는것
df2 = df2.drop_duplicates(keep = "last")
print(df2)

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 3  6  9  12
  3  6  9  12



     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 3  6  9  12
     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 3  6  9  12
  3  6  9  12



     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 3  6  9  12
  3  6  9  12

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 3  6  9  12

<hr>

## 실습 4 Subset_observation(Rows)
## Logic in Python and Pandas

In [62]:
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

In [64]:
# 논리 연산자
print(df["a"] != 7)
print()

# 데이터 프레임 형태로 출력
print(df[df["b"] != 7])

n  v
d  1    True
   2    True
e  2    True
Name: a, dtype: bool

     a  b   c
n v
d 2  5  8  11
e 2  6  9  12

In [71]:
# .isin()
print(df["a"].isin([5]))
print()

# print(df[[df["a"].isin[5]]])
# 이 형태로 사용하는건 불가능!

print(df.isin([5]))

n  v
d  1    False
   2     True
e  2    False
Name: a, dtype: bool

         a      b      c
n v
d 1  False  False  False
  2   True  False  False
e 2  False  False  False

In [79]:
# .isnull()
print(df.isnull())
print("\n\n")

df3 = pd.DataFrame(
    {"a" : [4, 5, 6, 6, np.nan], 
     "b" : [7, 8, np.nan, 9, 9], 
     "c" : [10, 11, 12, np.nan, 12]}, 
     index = pd.MultiIndex.from_tuples(
         [("d", 1), ("d", 2), ("e", 3), ("e", 3), ("e", 3)], 
         names = ["n", "v"]))
print(df3)
print("\n\n")

print(pd.isnull(df3))
print(df3.isnull())
# 둘이 같은거
print("\n\n")

# null 합계
print(df3["a"].isnull())
print(df3["a"].isnull().sum())
print("\n\n")


# not null
print(df.notnull())
print(df.a.notnull().sum())

         a      b      c
n v
d 1  False  False  False
  2  False  False  False
e 2  False  False  False



       a    b     c
n v
d 1  4.0  7.0  10.0
  2  5.0  8.0  11.0
e 3  6.0  NaN  12.0
  3  6.0  9.0   NaN
  3  NaN  9.0  12.0



         a      b      c
n v
d 1  False  False  False
  2  False  False  False
e 3  False   True  False
  3  False  False   True
  3   True  False  False
         a      b      c
n v
d 1  False  False  False
  2  False  False  False
e 3  False   True  False
  3  False  False   True
  3   True  False  False



n  v
d  1    False
   2    False
e  3    False
   3    False
   3     True
Name: a, dtype: bool
1



        a     b     c
n v
d 1  True  True  True
  2  True  True  True
e 2  True  True  True
3

In [90]:
# .any()
# 어떤 값이 있는지?
print(df3.any())
print(~df3.a.notnull())
print(df3.a.notnull())
# ~ 는 토글의 의미 인듯. not 역할? 반대로

a    True
b    True
c    True
dtype: bool
n  v
d  1    False
   2    False
e  3    False
   3    False
   3     True
Name: a, dtype: bool
n  v
d  1     True
   2     True
e  3     True
   3     True
   3    False
Name: a, dtype: bool

In [125]:
# 논리연산자
# 데이터 프레임에서 and 사용 불가능
# print(df3[df3.b == 7] | df3[df3.a == 5])
# 오류 발생
# ?

<hr>

## 실습 5 Subset_observation(Rows)

In [96]:
# head, tail
# default 5

print(df.head(3))
print(df.tail(2))

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12
     a  b   c
n v
d 2  5  8  11
e 2  6  9  12

In [109]:
# sample
print(df3.sample(frac = 0.5))
# frac : 지정한 비율로 랜덤하게 샘플링

# n : 몇개 추출할건지?
# print(df3.sample(n = 6))
# 행 수를 넘어서 지정했기에 오류 발생
print(df3.sample(n = 3))

# 비율로 샘플링 : frac = 0.nn
# 지정된 횟수, 개수로 샘플링 : n = x

       a    b     c
n v
e 3  6.0  9.0   NaN
d 2  5.0  8.0  11.0
       a    b     c
n v
e 3  6.0  NaN  12.0
  3  NaN  9.0  12.0
  3  6.0  9.0   NaN

In [118]:
# iloc
# df3.iloc[10:20]
print(df3.iloc[:2, 3:])
df3.iloc[:2, :-1]

Empty DataFrame
Columns: []
Index: [(d, 1), (d, 2)]

       a    b
n v
d 1  4.0  7.0
  2  5.0  8.0

In [123]:
# .nlargest[n, value]

df4 = pd.DataFrame({"a" : [1, 10, 8, 11, -1], 
                    "b" : list("abcde"), 
                    "c" : [1.0, 2.0, np.nan, 3.0, 4.0]})
print(df4)
print("\n\n")


print(df4.nlargest(1, "a"))
# a열에서 가장 큰 값
print()

# print(df.nlargest(1, 'b'))
# 데이터가 숫자일때문 가능

print(df4.nlargest(3, "c"))
# 큰 순서대로 3개 가져옴

    a  b    c
0   1  a  1.0
1  10  b  2.0
2   8  c  NaN
3  11  d  3.0
4  -1  e  4.0



    a  b    c
3  11  d  3.0

    a  b    c
4  -1  e  4.0
3  11  d  3.0
1  10  b  2.0

<hr>

## 실습 6 Subset_observation(Columns)

In [126]:
df = sns.load_dataset("iris")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [129]:
columns = ["sepal_length", "sepal_width", "species"]
df[columns].head()

   sepal_length  sepal_width species
0           5.1          3.5  setosa
1           4.9          3.0  setosa
2           4.7          3.2  setosa
3           4.6          3.1  setosa
4           5.0          3.6  setosa

In [130]:
df["sepal_width"].head()

0    3.5
1    3.0
2    3.2
3    3.1
4    3.6
Name: sepal_width, dtype: float64

In [133]:
# 정규표현식

# df.filter(regex = "regex")
df.filter(regex = "_")
# column name에 _가 포함된 column 가져옴
print()

# . : 문자 하나 대체
# a$ : a로 끝나는 컬럼만 가져옴
# ^a : a로 시작하는 컬럼 가져옴


df.filter(regex = "^(?!species$).*")
# species로 끝나는 것을 제외하고 모두 추출

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [141]:
# loc

# 슬라이싱
print(df.loc[2:, "sepal_width":"petal_width"])
print(df.iloc[2:, 1:3])
print()


# 논리연산
print(df.loc[df["sepal_length"]>5, ["sepal_length", "sepal_width"]].head())

     sepal_width  petal_length  petal_width
2            3.2           1.3          0.2
3            3.1           1.5          0.2
4            3.6           1.4          0.2
5            3.9           1.7          0.4
6            3.4           1.4          0.3
..           ...           ...          ...
145          3.0           5.2          2.3
146          2.5           5.0          1.9
147          3.0           5.2          2.0
148          3.4           5.4          2.3
149          3.0           5.1          1.8

[148 rows x 3 columns]
     sepal_width  petal_length
2            3.2           1.3
3            3.1           1.5
4            3.6           1.4
5            3.9           1.7
6            3.4           1.4
..           ...           ...
145          3.0           5.2
146          2.5           5.0
147          3.0           5.2
148          3.4           5.4
149          3.0           5.1

[148 rows x 2 columns]

    sepal_length  sepal_width
0            5.1          3.5
5            5.4          3.9
10           5.4          3.7
14           5.8          4.0
15           5.7          4.4