# 3. 데이터 요약, 결측치 다루기, 새로운 컬럼 만들기
2021-06-05

<li>영우 글로벌 러닝 판다스 보충강의 3</li>
<li>데이터 요약, 결측치 다루기, 새로운 컬럼 만들기</li>
<li><a href = https://www.youtube.com/watch?v=6wBvax3yvYI>강의 유튜브 링크</a>

sum() : 합계<br>
median() : 중앙값<br>
qunatile() : 사분위수. 지정해서 출력가능<br>
apply(function) : 함수 적용<br>
min() : 최소<br>
max() : 최대<br>
min과 max에는 axis를 지정해줄 수 있음<br>
mean() : 평균<br>
var() : 분산<br>
std() : 표준편차
corr() : 상관계수
value_conts() : 시리즈 객체 고유값 개수 카운트
unique() : unique 값의 개수
describe() : include, exclude, 요약

In [1]:
# import 

import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
# iris
df = sns.load_dataset("iris")

print(df.shape) # 150, 5
print()
print(df.head())

(150, 5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
# value_counts()

print(df["species"].value_counts())   # 범주
print()
print(pd.DataFrame(df["petal_width"].value_counts())) # 수치. 데이터프레임으로 변환

versicolor    50
setosa        50
virginica     50
Name: species, dtype: int64

     petal_width
0.2           29
1.3           13
1.5           12
1.8           12
1.4            8
2.3            8
1.0            7
0.4            7
0.3            7
2.1            6
2.0            6
1.2            5
1.9            5
0.1            5
1.6            4
2.5            3
2.2            3
1.1            3
2.4            3
1.7            2
0.5            1
0.6            1

In [4]:
# len
print(len(df))  # 행
print()

# .shape()
print(df.shape[0])  # 행
print(df.shape[1])  # 열
print()

150

150
5

In [5]:
# nunique()
print(df["species"].nunique())
# 중복되지 않는 값의 개수
print()

# describe()
print(df.describe(include = [np.object]))
# include : all, object, int, np.object....
print()
print(df.describe(exclude = [np.object]))
# exclude : 지정한것을 제외하고 모두 보여줌

3

           species
count          150
unique           3
top     versicolor
freq            50

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

<ipython-input-5-ea968dae1450>:7: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  print(df.describe(include = [np.object]))
<ipython-input-5-ea968dae1450>:10: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  print(df.describe(exclude = [np.object]))

In [6]:
# quantile()
print(df["petal_width"].quantile())
# 중위수(median)이 디폴트 값임
print()
print(df["petal_width"].quantile([0.25, 0.75]))
# 분위수 여러개 지정 가능

1.3

0.25    0.3
0.75    1.8
Name: petal_width, dtype: float64

In [7]:
# apply, lambda(익명함수)
print(df.apply(lambda x : x[0]))
print("\n\n")

df["species_3"] = df["species"].apply(lambda x : x[:3])
print(df["species_3"].head())
print("\n\n")

def smp(x):
    x = x[-3:]
    return x
df["species-3"] = df["species"].apply(smp)
print(df["species-3"].head())

sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
dtype: object



0    set
1    set
2    set
3    set
4    set
Name: species_3, dtype: object



0    osa
1    osa
2    osa
3    osa
4    osa
Name: species-3, dtype: object

In [8]:
# 결측치(NA/Null) 제거

# df.dropna(axis = 1, how = "all")
# axis = 행기준/열기준
# how = "all"(행/열이 모두 na일 때 해당 행/열 제거), 
# "any"(행/열 중에 하나라도 na 값이 포함되어있을 때, 해당 행/열 제거)

# fillna() :  na값을 채움
# isnull() : null 이면 True
# notnull() : null 이니면 True

In [9]:
# df.dropna?
# na값에대한 설명
# 함수 뒤에 () 지우고 ? 붙이면 그에대한 설명 볼 수 있음

In [10]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0], 
                   [3, 4, np.nan, 1], 
                   [np.nan, np.nan, np.nan, 5]], 
                  columns = list("ABCD"))
print(df)

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [11]:
# dropna()

print(df.dropna(axis = 1, how = "all"))
print()
print(df.dropna(axis = 1, how = "any"))

     A    B  D
0  NaN  2.0  0
1  3.0  4.0  1
2  NaN  NaN  5

   D
0  0
1  1
2  5

In [12]:
# fillna()
print(df.fillna(0))
print()

val = {"A" : 0, "B" : 1, "C" : 2, "D" : 3}
print(df.fillna(value = val))
# 딕셔너리의 키값과 일치하는 컬럼을 기준으로 
# 각각의 na 값을 채움
print()

print(df.fillna(df.median()))

     A    B    C  D
0  0.0  2.0  0.0  0
1  3.0  4.0  0.0  1
2  0.0  0.0  0.0  5

     A    B    C  D
0  0.0  2.0  2.0  0
1  3.0  4.0  2.0  1
2  0.0  1.0  2.0  5

     A    B   C  D
0  3.0  2.0 NaN  0
1  3.0  4.0 NaN  1
2  3.0  3.0 NaN  5

In [13]:
# isnull, notnull
print(df.isnull().sum())
print()
print(df.notnull().sum())
print()

A    2
B    1
C    3
D    0
dtype: int64

A    1
B    2
C    0
D    3
dtype: int64

In [14]:
# assign()
# 새로운 칼럼을 데이터 프레임에 배정

In [23]:
df = pd.DataFrame({"A":range(1, 11), "B":np.random.randn(10)})
print(df)

    A         B
0   1 -0.011159
1   2 -0.294176
2   3  1.155650
3   4 -1.612119
4   5 -0.528150
5   6  0.344604
6   7  0.829069
7   8  0.784893
8   9 -0.101292
9  10 -1.196475

In [24]:
# assign()

df.assign(ln_A = lambda x : np.log(x.A))
print(df.assign(ln_A = lambda x : np.log(x.A)))

df["ln_A"] = np.log(df.A)
print(df)

    A         B      ln_A
0   1 -0.011159  0.000000
1   2 -0.294176  0.693147
2   3  1.155650  1.098612
3   4 -1.612119  1.386294
4   5 -0.528150  1.609438
5   6  0.344604  1.791759
6   7  0.829069  1.945910
7   8  0.784893  2.079442
8   9 -0.101292  2.197225
9  10 -1.196475  2.302585
    A         B      ln_A
0   1 -0.011159  0.000000
1   2 -0.294176  0.693147
2   3  1.155650  1.098612
3   4 -1.612119  1.386294
4   5 -0.528150  1.609438
5   6  0.344604  1.791759
6   7  0.829069  1.945910
7   8  0.784893  2.079442
8   9 -0.101292  2.197225
9  10 -1.196475  2.302585

In [ ]:
# qcut()
# Bin 컬럼을 n개의 버킷으로 변화시킴
# 숫자형 데이터를 n개의 번주로 구분할 때 사용

# clip() : 임계치 값을 지정해서 값 변화줄 때 사용
# abs() : 절대값

In [26]:
print(pd.qcut(df["A"], 3, labels = ["good", "median", "bad"]))
# df["A"] 행을 3등분. 각각 나눠진것의 레이블을 good, median, bad로 하겠다는것
# 나눠진 순서대로 레이블이 들어가는 것이기 때문에 레이블 순을 거꾸로 하고 싶으면
# 반대로 넣어주면 됨
print()
print(pd.qcut(df["B"], 2, labels = ["bad", "good"]))

0      good
1      good
2      good
3      good
4    median
5    median
6    median
7       bad
8       bad
9       bad
Name: A, dtype: category
Categories (3, object): ['good' < 'median' < 'bad']

0    good
1     bad
2    good
3     bad
4     bad
5    good
6    good
7    good
8     bad
9     bad
Name: B, dtype: category
Categories (2, object): ['bad' < 'good']

In [28]:
# clip()

df["A"].clip(lower = -3, upper = 5)
# 하한선, 상한선
# 하한선과 상한선을 기준으로 값을 잘라줌
# 해당 기준에 맞지 않는 데이터는 상한값, 하한값으로 값이 변경됨

0    1
1    2
2    3
3    4
4    5
5    5
6    5
7    5
8    5
9    5
Name: A, dtype: int64

In [29]:
# abs()
print(df["B"].abs())

0    0.011159
1    0.294176
2    1.155650
3    1.612119
4    0.528150
5    0.344604
6    0.829069
7    0.784893
8    0.101292
9    1.196475
Name: B, dtype: float64