# KOCW AI 보안 데이터 리터러시
URL : http://www.kocw.net/home/search/kemView.do?kemId=1379416

<strong>작성일자</strong> : 2021-05-29<br>
<strong>작성자</strong> : 이예희<br>
<strong>작성내용</strong> : KOCW AI 보안 리터러시 강의 12
<hr>

## 12.pandas

In [20]:
import pandas as pd
import numpy as np
import copy

In [41]:
df = pd.DataFrame([[1, 30, "서울"], [2, 20, "인천"], [3, 30, "인천"]],
                 index = ["사람1", "사람2", "사람3"],
                 columns = ["순서", "나이", "도시"])
print(df)

     순서  나이  도시
사람1   1  30  서울
사람2   2  20  인천
사람3   3  30  인천

In [42]:
df["직업"] = "학생"
print(df)
print()

df.loc["사람4", ["도시", "나이대"]] = ["충청", "30대"]
print(df)

     순서  나이  도시  직업
사람1   1  30  서울  학생
사람2   2  20  인천  학생
사람3   3  30  인천  학생

      순서    나이  도시   직업  나이대
사람1  1.0  30.0  서울   학생  NaN
사람2  2.0  20.0  인천   학생  NaN
사람3  3.0  30.0  인천   학생  NaN
사람4  NaN   NaN  충청  NaN  30대

In [43]:
df.drop('사람4', axis = 0, inplace = True)
print(df)
print()

df.drop("나이대", axis = 1, inplace = True)
print(df)

      순서    나이  도시  직업  나이대
사람1  1.0  30.0  서울  학생  NaN
사람2  2.0  20.0  인천  학생  NaN
사람3  3.0  30.0  인천  학생  NaN

      순서    나이  도시  직업
사람1  1.0  30.0  서울  학생
사람2  2.0  20.0  인천  학생
사람3  3.0  30.0  인천  학생

In [44]:
df2 = df
print(df2)

      순서    나이  도시  직업
사람1  1.0  30.0  서울  학생
사람2  2.0  20.0  인천  학생
사람3  3.0  30.0  인천  학생

In [45]:
df2.loc["사람1", "나이"] = 20
print(df2)
print()
print(df)
# 둘이 같이 수정됨. 연결되어있는것.

      순서    나이  도시  직업
사람1  1.0  20.0  서울  학생
사람2  2.0  20.0  인천  학생
사람3  3.0  30.0  인천  학생

      순서    나이  도시  직업
사람1  1.0  20.0  서울  학생
사람2  2.0  20.0  인천  학생
사람3  3.0  30.0  인천  학생

In [49]:
# 카피했기 때문에 연결 끊김
df2 = df.copy()
print(df2)
print()

df2.loc["사람3", "나이"] = 45
print(df2)
print()
print(df)

      순서    나이  도시  직업
사람1  1.0  20.0  서울  학생
사람2  2.0  20.0  인천  학생
사람3  3.0  30.0  인천  학생

      순서    나이  도시  직업
사람1  1.0  20.0  서울  학생
사람2  2.0  20.0  인천  학생
사람3  3.0  45.0  인천  학생

      순서    나이  도시  직업
사람1  1.0  20.0  서울  학생
사람2  2.0  20.0  인천  학생
사람3  3.0  30.0  인천  학생

In [50]:
# map
a = {"서울" : "충남", "인천" : "제주"}

df2["도시"] = df2["도시"].map(a)
print(df2)

      순서    나이  도시  직업
사람1  1.0  20.0  충남  학생
사람2  2.0  20.0  제주  학생
사람3  3.0  45.0  제주  학생

In [56]:
# series 연산

s1 = pd.Series({"a" : 1, "b" : 2, "c" : 3, "d" : 4})
s2 = pd.Series({"a" : 1, "c" : 3, "e" : 5})
print(s1)
print(s2)
print()

print(s1 + s2)
# NaN에는 어떤 연산을 해도 NaN
print()

print(s1.sub(s2, fill_value = 0))
# add, sub, div, mul

a    1
b    2
c    3
d    4
dtype: int64
a    1
c    3
e    5
dtype: int64

a    2.0
b    NaN
c    6.0
d    NaN
e    NaN
dtype: float64

a    0.0
b    2.0
c    0.0
d    4.0
e   -5.0
dtype: float64

In [59]:
# merge

df1 = pd.DataFrame([["김씨", "부산"], ["박씨", "인천"]], columns = ["이름", "도시"])
df2 = pd.DataFrame([["김씨", 30], ["박씨", 50]], columns = ["이름", "나이"])
print(df1)
print(df2)
print()

df = pd.merge(left = df1, right = df2, how = "left", 
              left_on = "이름", right_on = "이름")
print(df)
# 왼쪽에 붙일것, 오른쪽에 붙일것. 어떤것에 대해서(기준인듯)
# 왼쪽에서 붙일 것의 기준, 오른쪽에서 붙일 것의 기준

   이름  도시
0  김씨  부산
1  박씨  인천
   이름  나이
0  김씨  30
1  박씨  50

   이름  도시  나이
0  김씨  부산  30
1  박씨  인천  50